@import '../../../index.scss';

.baseButton {
  color: $btnColor;
  font-weight: 700;
  font-size: 24px;
  border: none;
  background-color: $btnBg;
  padding: 10px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.baseButton:hover {
  background-color: $btnBgHover;
}
